!!!
%html
  %head
    %title Sinatra-ActiveRecord
    %link{rel: "stylesheet", type: "text/css", href: "css/master.css"}
  %body
    %a{href: '/'} Home
    - if current_user && current_user.blog
      %a{href: "/blogs/#{current_user.blog.slug}"} Blog

    %a{href: '/users'} Users
    - unless current_user
      // User is not logged in so show these links
      %a{href: '/sign_up'} Sign Up
      %a{href: '/sign_in'} Login
    - else
      // User is logged in so show these links
      %a{href: '/profile'} Profile
      %a{href: '/logout'} Logout
      %a{href: '/create_post'} Create New Blog Post
    = styled_flash
    = yield
